@page "/edit"
@inject SettingsViewModel SettingsViewModel

<div class="container">
    <div class="row">
        <input type="text" bind-value-oninput="@SettingsViewModel.NewPackageName" placeholder="Name"/>
    </div>
    <div class="row">
        <input type="text" bind-value-oninput="@SettingsViewModel.NewPackageSourceA" placeholder="Source A"/>
    </div>
    <div class="row">
        <input type="text" bind-value-oninput="@SettingsViewModel.NewPackageSourceB" placeholder="Source B"/>
    </div>
    <div class="row">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" bind="@SettingsViewModel.NewPackageComparePreRelease"/>
            <label class="form-check-label" for="comparePreRelease">Compare PreRelease?</label>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" type="button" onclick="@(() => SettingsViewModel.AddNewPackageCommand.Execute(null))" id="comparePreRelease">Add</button>
    </div>
</div>
<table class="table">
    <tbody>
    @foreach (var package in SettingsViewModel.Packages)
    {
        <tr>
            <td>@package.Name</td>
            <td >@package.SourceA</td>
            <td>@package.SourceB</td>
            <td>@package.ComparePreRelease.ToString()</td>
            <button class="btn btn-danger" type="button" onclick="@(() => package.RemovePackageCommand.Execute(null))">Remove</button>
        </tr>
    }
    </tbody>
</table>

@functions
{

    protected override async Task OnInitAsync()
    {
        await SettingsViewModel.Initialize();
    }

}
